<html>
    <head>
        <title> Second Page </title>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type = "text/css" href=/static/css/styles.css >
    </head>
    <body id = tuning>
        <h1> This is the second Page </h1>
        <p> {{ message }} </p>
        <div id = "circle">
            <a href = "{{ url_for("home") }}">
                <span> Return Home </span>
            </a>
        </div>
    </body>
</html>