<html>
    <head>
        <title> YuuAi Home </title>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type = "text/css" href=/static/css/styles.css >
    </head>
    <body>
        <h1> This is our test Website </h1>
        <p> {{ message }} </p>
        <div id = "circle">
            <a href = "{{ url_for("second_page") }}">
                <span> Click Here</span>
            </a>
        </div>
    </body>
</html>